* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v7_2 {
  width: 100%;
  height: 3389px;
  background: rgba(221,221,224,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 3px 6px rgba(0.07058823853731155, 0.05882352963089943, 0.1568627506494522, 0.11999999731779099);
  overflow: hidden;
}
.v7_51 {
  width: 100%;
  height: 490px;
  background: rgba(254,254,254,1);
  opacity: 1;
  position: absolute;
  top: 2899px;
  left: 3px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v23_3 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 84px;
  left: 642px;
  font-family: Zen Old Mincho;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v7_40 {
  width: 302px;
  color: rgba(50,50,51,1);
  position: absolute;
  top: 156px;
  left: 227px;
  font-family: Zen Old Mincho;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v23_5 {
  width: 661px;
  color: rgba(50,50,51,1);
  position: absolute;
  top: 156px;
  left: 556px;
  font-family: Zen Old Mincho;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v7_38 {
  width: 100%;
  height: 1201px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 869px;
  left: 0px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v7_25 {
  width: 100%;
  height: 831px;
  background: rgba(170,101,44,1);
  opacity: 1;
  position: absolute;
  top: 1201px;
  left: 0px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v7_30 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 165px;
  left: 145px;
  font-family: Zen Old Mincho;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v7_9 {
  width: 527px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 90px;
  left: 457px;
  font-family: Zen Old Mincho;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v20_13 {
  width: 269px;
  height: 269px;
  background: url("../images/v20_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 513px;
  left: 1114px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v22_15 {
  width: 301px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 665px;
  left: 767px;
  font-family: Zen Old Mincho;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: right;
}
.v27_3 {
  width: 376px;
  height: 286px;
  background: url("../images/v27_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 460px;
  left: 108px;
  overflow: hidden;
}
.v10_110 {
  width: 231px;
  height: 231px;
  background: url("../images/v10_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 205px;
  left: 113px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v12_2 {
  width: 231px;
  height: 231px;
  background: url("../images/v12_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 742px;
  left: 113px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v15_13 {
  width: 192px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 99px;
  left: 624px;
  font-family: Zen Old Mincho;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v40_8 {
  width: 966px;
  height: 144px;
  background: url("../images/v40_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 248px;
  left: 407px;
  overflow: hidden;
}
.v15_16 {
  width: 431px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Zen Old Mincho;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v15_20 {
  width: 966px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Zen Old Mincho;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v40_9 {
  width: 936px;
  height: 174px;
  background: url("../images/v40_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 503px;
  left: 407px;
  overflow: hidden;
}
.v15_17 {
  width: 296px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Zen Old Mincho;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v15_22 {
  width: 936px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Zen Old Mincho;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v40_10 {
  width: 988px;
  height: 178px;
  background: url("../images/v40_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 769px;
  left: 407px;
  overflow: hidden;
}
.v31_10 {
  width: 289px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Zen Old Mincho;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v31_11 {
  width: 988px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 44px;
  left: 0px;
  font-family: Zen Old Mincho;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v26_2 {
  width: 501px;
  height: 68px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1034px;
  left: 851px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v19_11 {
  width: 435px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1059px;
  left: 891px;
  font-family: Zen Old Mincho;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v31_9 {
  width: 231px;
  height: 231px;
  background: url("../images/v31_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 474px;
  left: 113px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v17_6 {
  width: 100%;
  height: 731px;
  background: url("../images/v17_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 0px;
  overflow: hidden;
}
.v17_3 {
  width: 100%;
  height: 734px;
  background: url("../images/v17_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v18_9 {
  width: 389px;
  height: 257px;
  background: rgba(29,0,0,1);
  opacity: 0.6100000143051147;
  position: absolute;
  top: 42px;
  left: 50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v18_8 {
  width: 439px;
  height: 439px;
  background: url("../images/v18_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 26px;
  overflow: hidden;
}
.v10_141 {
  width: 100%;
  height: 138px;
  background: rgba(254,254,254,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v24_10 {
  width: 129px;
  height: 41px;
  background: url("../images/v24_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 1236px;
  overflow: hidden;
}
.v7_41 {
  width: 129px;
  height: 41px;
  background: rgba(170,101,44,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v7_42 {
  width: 80px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 24px;
  font-family: Zen Old Mincho;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v24_11 {
  width: 130px;
  height: 42px;
  background: url("../images/v24_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 1090px;
  overflow: hidden;
}
.v24_12 {
  width: 130px;
  height: 42px;
  background: rgba(170,101,44,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v24_13 {
  width: 84px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 23px;
  font-family: Zen Old Mincho;
  font-weight: SemiBold;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}
.v24_9 {
  width: 275px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 61px;
  left: 106px;
  font-family: Zen Old Mincho;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
