* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}
body {
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
  min-height: 100vh; /* 画面の高さいっぱいにする */
  margin: 0; /* bodyのデフォルトのmarginをなくす */
}
.v7_2 {
  width: 1440px;
  height: 2990px;
  background: rgba(221,221,224,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 3px 6px rgba(0.07058823853731155, 0.05882352963089943, 0.1568627506494522, 0.11999999731779099);
  overflow: hidden;
}
.v7_51 {
  width: 1440px;
  height: 533px;
  background: rgba(254,254,254,1);
  opacity: 1;
  position: absolute;
  top: 2457px;
  left: 0px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v49_6 {
  width: 585px;
  height: 68px;
  background: url("../images/v49_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 414px;
  left: 810px;
  overflow: hidden;
}
.v49_7 {
  width: 585px;
  height: 68px;
  background: rgba(170,101,44,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v49_8 {
  width: 291px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 147px;
  font-family: Zen Old Mincho;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v23_3 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 84px;
  left: 642px;
  font-family: Zen Old Mincho;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v49_10 {
  width: 990px;
  height: 200px;
  background: url("../images/v49_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 227px;
  overflow: hidden;
}
.v7_40 {
  width: 302px;
  color: rgba(50,50,51,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Zen Old Mincho;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v23_5 {
  width: 661px;
  color: rgba(50,50,51,1);
  position: absolute;
  top: 0px;
  left: 329px;
  font-family: Zen Old Mincho;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v7_25 {
  width: 100%;
  height: 785px;
  background: rgba(100,45,15,1);
  opacity: 1;
  position: absolute;
  top: 1669px;
  left: 0px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v7_30 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 165px;
  left: 145px;
  font-family: Zen Old Mincho;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v7_9 {
  width: 527px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 90px;
  left: 457px;
  font-family: Zen Old Mincho;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v20_13 {
  width: 209px;
  height: 209px;
  background: url("../images/v20_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 521px;
  left: 1157px;
  overflow: hidden;
}
.v22_15 {
  width: 219px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 629px;
  left: 849px;
  font-family: Zen Old Mincho;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: right;
}
.v27_3 {
  width: 330px;
  height: 250px;
  background: url("../images/v27_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 434px;
  left: 93px;
  overflow: hidden;
}
.v7_38 {
  width: 100%;
  height: 1201px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 468px;
  left: 0px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v10_110 {
  width: 231px;
  height: 231px;
  background: url("../images/v10_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 205px;
  left: 300px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v12_2 {
  width: 231px;
  height: 231px;
  background: url("../images/v12_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 742px;
  left: 300px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v15_13 {
  width: 192px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 99px;
  left: 624px;
  font-family: Zen Old Mincho;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v49_11 {
  width: 966px;
  height: 154px;
  background: url("../images/v49_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 238px;
  left: 407px;
  overflow: hidden;
}
.v15_16 {
  width: 431px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 190px;
  font-family: Zen Old Mincho;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v15_20 {
  width: 966px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 50px;
  left: 200px;
  font-family: Zen Old Mincho;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v49_12 {
  width: 936px;
  height: 184px;
  background: url("../images/v49_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 493px;
  left: 407px;
  overflow: hidden;
}
.v15_17 {
  width: 296px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 190px;
  font-family: Zen Old Mincho;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v15_22 {
  width: 936px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 50px;
  left: 200px;
  font-family: Zen Old Mincho;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v49_13 {
  width: 988px;
  height: 188px;
  background: url("../images/v49_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 759px;
  left: 407px;
  overflow: hidden;
}
.v31_10 {
  width: 289px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 190px;
  font-family: Zen Old Mincho;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v31_11 {
  width: 988px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 54px;
  left: 200px;
  font-family: Zen Old Mincho;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v49_5 {
  width: 585px;
  height: 68px;
  background: url("../images/v49_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1034px;
  left: 810px;
  overflow: hidden;
}
.v26_2 {
  width: 585px;
  height: 68px;
  background: rgba(170,101,44,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v19_11 {
  width: 435px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 81px;
  font-family: Zen Old Mincho;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v31_9 {
  width: 231px;
  height: 231px;
  background: url("../images/v31_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 474px;
  left: 300px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v17_6 {
  width: 100%;
  height: 388px;
  background: rgba(100,45,15,1);
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 0px;
  overflow: hidden;
}
.v17_3 {
  width: 687px;
  height: 388px;
  background: url("../images/v17_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 777px;
  overflow: hidden;
}
.v18_8 {
  width: 522px;
  height: 522px;
  background: url("../images/v18_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: -60px;
  left: 134px;
  overflow: hidden;
}
.v10_141 {
  width: 100%;
  height: 80px;
  background: rgba(254,254,254,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 1px rgba(0.09019608050584793, 0.10196078568696976, 0.12156862765550613, 0.07000000029802322);
  overflow: hidden;
}
.v24_10 {
  width: 129px;
  height: 41px;
  background: url("../images/v24_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 1245px;
  overflow: hidden;
}
.v7_41 {
  width: 129px;
  height: 41px;
  background: rgba(170,101,44,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v7_42 {
  width: 80px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 24px;
  font-family: Zen Old Mincho;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v24_11 {
  width: 130px;
  height: 42px;
  background: url("../images/v24_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 1099px;
  overflow: hidden;
}
.v24_12 {
  width: 130px;
  height: 42px;
  background: rgba(170,101,44,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v24_13 {
  width: 84px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 23px;
  font-family: Zen Old Mincho;
  font-weight: SemiBold;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}
